<div class="container">

  <div class="row">
      <div class="col-8">
          <h2 class="mt-5">Listes des boutiques</h2>
          <div *ngIf="shop && shop.length>0" class=" shadow-none p-3 mb-5 bg-white d-flex "
              style="flex-wrap: wrap;">
              <div class="card m-2" style="width: 18rem;" *ngFor="let e of shop; let i = index">
                <div class="card-body">
                      <h5 class="card-title">{{e.nom|CleanName}}</h5>
                      <p class="card-text">{{e.adresse}} </p>

                      <div class="d-flex  justify-content-around ">
                          <button (click)="updateShop(e,i)" class="btn btn-primary px-4 ">Update</button>
                          <button (click)="deleteShop(e,i)" class="btn btn-danger px-4 ">Delete</button>

                      </div>

                  </div>
              </div>

          </div>
      </div>

      <div class="col-4 d-flex justify-content-center align-items-center">
          <div style="max-width: 600px;" class="border shadow-none p-3 mb-5 bg-white mt-5 rounded">
              <h3>Formulaire d'enregistrement des Boutiques</h3>
              <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="">
                  <div class="mb-3 ">
                      <label for="nom" class="form-label">nom</label>
                      <input class="form-control" type="text" id="nom" name="nom" formControlName="nom">
                  </div>
                  <div class="mb-3 ">
                      <label for="adresse" class="form-label">adresse</label>
                      <input class="form-control" type="adresse" id="adresse" name="adresse"
                          formControlName="adresse">
                  </div>
                  <button type="button" [disabled]="!contactForm.valid" class="btn btn-primary col-4"
                      type="submit">Enregister</button>
              </form>
          </div>
      </div>
  </div>





</div>
