<div class="container">


    <div class="row">
        <div class="col-8">
            <h2 class="mt-5">Listes des produits</h2>
            <div *ngIf="produit && produit.length>0" class="shadow-none p-3 mb-5 bg-white d-flex "
              style="flex-wrap: wrap;"
              >
              <div class="card m-2" style="width: 15rem;" *ngFor="let e of produit; let i = index ">
                  <img [src]="e.image" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title">{{e.nom|CleanName}}</h5>
                      <p class="card-text">{{e.code}} qantite:{{e.qte}} </p>

                      <div class="d-flex  justify-content-around ">
                          <button (click)="updateProduct(e,i)" class="btn btn-primary px-4 ">Update</button>
                          <button (click)="deleteProduct(e,i)" class="btn btn-danger px-4 ">Delete</button>


                      </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-center align-items-center ">
                <div style="max-width: 600px;" class=" p-3 mb-5 bg-white mt-5 ">
                    <h3>Formulaire d'enregistrement des produits </h3>
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="code" class="form-label">code</label>
                            <input class="form-control" type="text" id="code" name="code" formControlName="code">
                        </div>
                        <div class="mb-3">
                            <label for="nom" class="form-label">nom</label>
                            <input class="form-control" type="text" id="nom" name="nom" formControlName="nom">
                        </div>
                        <div class="mb-3">
                            <label for="qte" class="form-label">quantite</label>
                            <input class="form-control" type="number" id="qte" name="qte" formControlName="qte">
                        </div>
                        <div class="mb-3">
                          <label for="image" class="form-label">image</label>
                          <input (change)="handleInputChange($event)" accept="image/*" type="file">
                      </div>
                        <button type="button" [disabled]="!contactForm.valid" class="btn btn-primary"
                            type="submit">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </div>





</div>
